@import "tailwindcss";

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: black;
  scroll-behavior: smooth;
  position: relative; /* Asegura que el posicionamiento sea correcto */
}

/* Asegura que los elementos interactivos tengan prioridad sobre el fondo */
button, a, input, textarea, select, [role="button"] {
  position: relative;
  z-index: 20;
}