---
---

<section class="relative z-10 w-full min-h-screen flex items-center justify-center p-8">
	<div class="text-center text-white max-w-4xl">
		<h2 class="text-4xl md:text-5xl font-bold mb-8 drop-shadow-lg">
			Proyectos
		</h2>
		<div>
			<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
				<div class="bg-[#ffab00]/30 p-6 rounded-lg shadow-lg hover:scale-105 hover:bg-[#ffab00]/90 transform transition duration-300">
					<h3 class="text-2xl font-semibold mb-4">Articulo publicado</h3>
					<p class="mb-4">Obesity awareness in Latin America in health centers using a decision tree</p>
					<a href="#" class="hover:underline">Ver más</a>
				</div>
				<div class="bg-[#ffab00]/30 p-6 rounded-lg shadow-lg hover:scale-105 hover:bg-[#ffab00]/90 transform transition duration-300">
					<h3 class="text-2xl font-semibold mb-4">SmartMind</h3>
					<p class="mb-4">Observatorio de salud mental</p>
					<a href="#" class="hover:underline">Ver más</a>
				</div>
				<div class="bg-[#ffab00]/30 p-6 rounded-lg shadow-lg hover:scale-105 hover:bg-[#ffab00]/90 transform transition duration-300">
					<h3 class="text-2xl font-semibold mb-4">Academico</h3>
					<p class="mb-4">Sistema de monitoreo y vigilancia de salud publica</p>
					<a href="#" class="hover:underline">Ver más</a>
				</div>
				<div class="bg-[#ffab00]/30 p-6 rounded-lg shadow-lg hover:scale-105 hover:bg-[#ffab00]/90 transform transition duration-300">
					<h3 class="text-2xl font-semibold mb-4">Academico</h3>
					<p class="mb-4">Gestion academica de estudiantes</p>
					<a href="#" class="hover:underline">Ver más</a>
				</div>
				<div class="bg-[#ffab00]/30 p-6 rounded-lg shadow-lg hover:scale-105 hover:bg-[#ffab00]/90 transform transition duration-300">
					<h3 class="text-2xl font-semibold mb-4">Academico</h3>
					<p class="mb-4">Seguimiento de Pacientes y Veterinaria</p>
					<a href="#" class="hover:underline">Ver más</a>
				</div>
			</div>
		</div>
	</div>
</section>

<style>
</style>